@model List<Box>


@{
    ViewBag.Title = "Boxes";
    Layout = "_Layout";
}


<h2></h2>
<ol>
    @{
        foreach (var m in @Model)
        {
            <li>@m.Id  @m.Name @m.UserId</li>
        }
    }
</ol>


