@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Контакты</h2>
<div class="card" style="width: 36rem;">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    <div class="card-body">
        <h5 class="card-title">Председатель кооператива</h5>
        <p class="card-text">Иванов Иван Иванович</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Телефон: <a href="tel:+79161631867">+7 (916) 163 18 67</a><</li>
        <li class="list-group-item">Почта: <a href="mailto:anton.miroshkin@dzr-garage.ru">anton.miroshkin@dzr-garage.ru</a></li>
    </ul>
</div>
<br/>
<div class="card" style="width: 36rem;">
    @*<img class="card-img-top" src="..." alt="Card image cap">*@
    <div class="card-body">
        <h5 class="card-title">Бухгалтер</h5>
        <p class="card-text">Петрова Мария Михайловна</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Телефон: <a href="tel:+79161631867">+7 (916) 163 18 67</a><</li>
        <li class="list-group-item">Почта: <a href="mailto:anton.miroshkin@dzr-garage.ru">anton.miroshkin@dzr-garage.ru</a></li>
    </ul>
</div>
